.servicesbanner-bg {
    background-image: url('/images/servicesBanner.jpg');
    background-position: center;
    background-size: cover;
    margin: 50px;
    border-radius: 5px;
    height: 400px;
    position: relative;
}

.servicesbanner-text {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    text-shadow: 5px 5px 5px black;
}
.cardbox:hover {
    box-shadow: none !important;
    cursor: pointer;
}